<!DOCTYPE html>
<html>
  <head>
    <base target="_top" />
    <link
      rel="stylesheet"
      href="https://ssl.gstatic.com/docs/script/css/add-ons1.css"
    />
    <script src="https://cdn.jsdelivr.net/gh/nextapps-de/flexsearch@0.7.31/dist/flexsearch.bundle.min.js"></script>

    <script>
      var searchIndex = null;
      function renderLibraries(documents) {
        // Create a in libraries for all the documents
        var libraries = document.getElementById("libraries");
        libraries.innerHTML = "";

        // Initialize searchIndex if it is not initialized
        if (!searchIndex) {
          searchIndex = documents;
        }

        for (var i = 0; i < documents.length; i++) {
          var curDocument = documents[i];
          var div = document.createElement("div");
          div.className = "block";
          div.style =
            "border-bottom: 1px solid #ccc; padding: 10px; margin: 0px;";
          div.onclick = function () {
            // Click checkbox when clicking on the div
            var checkbox = this.querySelector("input[type=checkbox]");
            checkbox.checked = !checkbox.checked;
          };

          var citeCheckbox = document.createElement("input");
          citeCheckbox.type = "checkbox";
          citeCheckbox.onclick = function (e) {
            e.stopPropagation();
          };
          citeCheckbox.setAttribute("data-id", curDocument.id);
          div.appendChild(citeCheckbox);

          var titleBold = document.createElement("b");
          titleBold.innerHTML = curDocument.title;
          titleBold.style = "font-size: 14px;";
          div.appendChild(titleBold);
          div.appendChild(document.createElement("br"));

          var authorsText = "";
          var authors = document.createElement("span");
          for (var j = 0; j < Math.min(5, curDocument.authors.length); j++) {
            authorsText += curDocument.authors[j].first_name[0] + ". ";
            authorsText += curDocument.authors[j].last_name;
            if (j < curDocument.authors.length - 1) {
              authorsText += ", ";
            }
          }
          authors.innerHTML = authorsText.trim();
          div.appendChild(authors);
          div.appendChild(document.createElement("br"));

          var year = document.createElement("span");
          year.innerHTML = " (" + curDocument.year + ")";
          year.className = "secondary";
          div.appendChild(year);

          libraries.appendChild(div);
        }
      }

      function selectFolders(e) {
        var libraries = document.getElementById("libraries");
        libraries.innerHTML = "Loading...";

        var selected = e.target.value;
        google.script.run
          .withSuccessHandler(renderLibraries)
          .getDocuments(selected);
      }

      function citeDocument(e) {
        var button = e.target;
        button.innerHTML = "Citing...";
        button.disabled = true;
        button.className = "gray";

        var documentIDs = [];
        var checkboxes = document.querySelectorAll("input[type=checkbox]");
        for (var i = 0; i < checkboxes.length; i++) {
          if (checkboxes[i].checked) {
            documentIDs.push(checkboxes[i].getAttribute("data-id"));
          }
        }

        google.script.run
          .withSuccessHandler(function () {
            button.innerHTML = "INSERT CITATION";
            button.disabled = false;
            button.className = "blue";
            checkboxes.forEach((c) => (c.checked = false));
          })
          .withFailureHandler(function (e) {
            var newDiv = document.createElement("div");
            newDiv.innerHTML = "Error: " + e;
            newDiv.style = "color: red;";
          })
          .doCite(documentIDs);
      }

      function searchDocument() {
        var query = document.getElementById("query").value;
        // If the query is empty, show all libraries
        if (query.length == 0) {
          return renderLibraries(searchIndex);
        }
        console.log(searchIndex);
        var fuse = new FlexSearch.Document({
          preset: "match",
          charset: "latin:advanced",
          document: {
            id: "id",
            index: ["title", "abstract"],
          },
        });
        for (var i = 0; i < searchIndex.length; i++) {
          var curDocument = searchIndex[i];
          fuse.add(curDocument);
        }
        var resultIds = [];
        var searchResults = fuse.search(query);
        for (var i = 0; i < searchResults.length; i++) {
          var fieldResult = searchResults[i].result;
          for (var j = 0; j < fieldResult.length; j++) {
            resultIds.push(fieldResult[j]);
          }
        }
        var libraries = [];
        for (var i = 0; i < searchIndex.length; i++) {
          var curDocument = searchIndex[i];
          if (resultIds.includes(curDocument.id)) {
            libraries.push(curDocument);
          }
        }
        return renderLibraries(libraries);
      }

      // Load all articles when the page is first loaded
      window.onload = function (e) {
        google.script.run.withSuccessHandler(renderLibraries).getDocuments("");
      };
    </script>
  </head>
  <body>
    <style>
      .branding-below {
        bottom: 56px;
        top: 0;
      }
      .tabs {
        margin-top: 0px;
        margin-bottom: 5px;
        padding: 0;
        list-style: none;
        position: relative;
        border-bottom: 1px solid #ccc;
      }
      .active-tab {
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-bottom: none;
        position: relative;
        color: black;
      }
      .active-tab:after {
        width: 100%;
        height: 2px;
        position: absolute;
        content: "";
        bottom: -0.1em;
        left: 0;
        background: white;
      }
      .tabs > li {
        display: inline-block;
        cursor: pointer;
        color: #3a5ea7;
        padding: 5px 10px;
      }
      .tabs > li > :first-child {
        margin-left: 10px;
      }
    </style>

    <div class="sidebar branding-below">
      <div class="block form-group">
        <ul class="tabs">
          <li class="active-tab">Libraries</li>
          <li
            onclick="document.body.innerHTML = 'Loading...'; google.script.run.mendeleySetting();"
          >
            Settings
          </li>
        </ul>

        <label for="translated-text">Folders/Collections</label>
        <select
          name="documents"
          id="documents"
          style="width: 100%"
          onchange="selectFolders(event)"
        >
          <option value="">All Articles</option>
          <? for (var i = 0; i < folders.length; i++) { ?>
          <option value="<?= folders[i].id ?>"><?= folders[i].name ?></option>
          <? } ?>
        </select>
        <button
          class="blue"
          onclick="document.body.innerHTML = 'Refreshing...'; google.script.run.openLibrary();"
          style="width: 100%; margin-top: 5px"
        >
          REFRESH
        </button>
        <hr />
      </div>

      <div class="block form-group">
        <label for="city">Search article:</label>
        <input
          type="text"
          id="query"
          style="width: 100%"
          onkeyup="searchDocument()"
        />
      </div>

      <div class="block" id="libraries">Loading...</div>
    </div>

    <div class="sidebar bottom" style="padding-top: 0px">
      <br />
      <button class="blue" onclick="citeDocument(event)" style="width: 100%">
        INSERT CITATION
      </button>
      <br />
      <span class="gray"> This add-ons is not created by Mendeley.</span>
    </div>
  </body>
</html>
